name: {{ project_name }}

services:
{% for service_name, service_config in services.items() %}
  {{ service_name }}:
    hostname: {{ project_name }}_{{ service_name }}
    container_name: {{ project_name }}_{{ service_name }}
    image: {{ service_config.image }}
    {% if service_config.build is defined and service_config.compose is defined and service_config.compose.context is defined and service_config.compose.dockerfile is defined %}
    build:
      context: {{ service_config.compose.context }}
      dockerfile: {{ service_config.compose.dockerfile }}
      {% if service_config.compose.args is defined and service_config.compose.args|length > 0 %}
      args:
        {% for arg, value in service_config.compose.args %}
        - {{ arg }}={{ value }}
        {% endfor %}
      {% endif %}
    {% endif %}
    {% if 'restart' in service_config.compose %}
    restart: {{ service_config.compose.restart }}
    {% endif %}
    {% if 'ports' in service_config.compose %}
    ports:
      {% for port in service_config.compose.ports %}
      - "{{ port }}"
      {% endfor %}
    {% endif %}
    {% if 'volumes' in service_config.compose %}
    volumes:
      {% for volume in service_config.compose.volumes %}
      - {{ volume }}
      {% endfor %}
    {% endif %}
    {% if 'environment' in service_config.compose %}
    environment:
      {% for env in service_config.compose.environment %}
      {{ env }}
      {% endfor %}
    {% endif %}
    {% if 'extra_hosts' in service_config.compose %}
    extra_hosts:
      {% for host in service_config.compose.extra_hosts %}
      - {{ host }}
      {% endfor %}
    {% endif %}
    {% if 'working_dir' in service_config.compose %}
    working_dir: {{ service_config.compose.working_dir }}
    {% endif %}
    {% if 'depends_on' in service_config.compose %}
    depends_on:
      {% for dep in service_config.compose.depends_on %}
      - {{ dep }}
      {% endfor %}
    {% endif %}
    {% if 'command' in service_config.compose %}
    command: {{ service_config.compose.command|tojson }}
    {% endif %}
{% endfor %}
